* {
    padding: 0;
    margin: 0;
}

#game {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}

#character {
    width: 25px;
    height: 25px;
    background-color: blue;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

#block {
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 450px;
    animation: block 1.5s infinite linear;
}

#hole {
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 450px;
    top: -500px;
    animation: block 1.5s infinite linear;
}

@keyframes block {
    0% {
        left: 450px;
    }
    100% {
        left: -50px;
    }
}